.root {
  --main-gray: rgb(152, 152, 152);
  --main-black: rgb(0, 0, 0);
  --main-green-sheen: rgb(121, 188, 171);
  --sea-green: rgb(40, 163, 181);
  --medium-electric-blue: rgb(13, 94, 152);
};


.trip {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.tripContainer {
    display: flex;
    justify-content: space-between;
}

/* colors */

.nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  z-index: 999;
  background: var(--main-black);
  /*to counter blending with black for now */
  }

/* main */

body {
  background-color: #d1f3e0;
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
}